<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Dynasty" />
    <meta name="keywords" content="Bootstrap, Landing page, Template, Landing" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Terms</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/frontend/images/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/frontend/css/assets/bootstrap.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/frontend/css/assets/font-awesome.min.css" />

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/frontend/css/assets/owl.carousel.css" />
    <link rel="stylesheet" href="/frontend/css/assets/owl.transitions.css" />

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/frontend/css/assets/animate.css" />

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />

    <link rel="stylesheet" href="/frontend/css/normalize.css" />
    <link rel="stylesheet" href="/frontend/css/style.css" />
    <link rel="stylesheet" href="/frontend/css/assets/responsive.css" />
    <script src="/frontend/js/vendor/modernizr-3.3.1.min.js"></script>


</head>

<body>
    <!-- =========================
     HEADER SECTION
     ========================= -->
    <header id="intro" style="height: 400px !important;min-height: 400px !important;">
        <div id="main-nav-sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
            <nav class="navbar" id="main-nav" style="width: 1349px; position: fixed; top: 0px; z-index: 99999;">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rx-navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <embed src="/frontend/images/logo.svg" height="50px" class="color_logo">
                            <embed src="/frontend/images/white_logo.svg" height="50px" class="white_logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="rx-navbar-collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a data-scroll="" href="/">Home</a></li>
                            <li><a data-scroll="" href="/#description">Description</a></li>
                            <li><a data-scroll="" href="/#screenshots">Screenshot</a></li>
                            <li><a data-scroll="" href="#contact">Contact</a></li>
                            <li><a data-scroll="" href="/privacy">Policy</a></li>
                            <li class="active"><a data-scroll="" href="/terms">Terms</a></li>
                            <li><a data-scroll="" href="/en">English</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        <!-- =========================
                Intro 
            ========================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="intro-text intro-text2" style="width: 100%;transform: translateY(70%);">
                            <h1 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                                Terms & Conditions
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Container -->
        </section>
    </header>

    <!-- =========================
    App Description
    ========================== -->
    <section class="app-description" id="description" style="padding: 60px 0 60px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="col-md-12 privacy">
                        <h2 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                            Where does it come from?
                        </h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>TLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-md-12 app-description-content wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <h4>Title</h4>
                        <p>TLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <h4>Definitions</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Container -->



    <!-- =========================
    Download App
    ========================== -->
    <section class="app-downloads" id="app-download">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <h2 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        Download app
                    </h2>
                </div>
                <div class="col-sm-12 app-download-btns wow bounceInDown" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#0">Coming soon</a>
                        </li>
                        <!-- <li>
                            <a href=""><i class="fa fa-apple"></i> App Store</a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-android"></i> Play Store</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- =========================
    Contact Us
    ========================== -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading">
                    <h2 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        Get in touch with The team
                    </h2>
                    <!-- <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p> -->
                </div>
                <div class="col-md-12 contact-form">
                    <form id="ajax-contact" method="post" action="/contact">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                                    <input type="text" placeholder="Your Name" id="name" name="name" required />
                                </div>
                                <div class="col-sm-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                                    <input type="email" placeholder="Your Email" id="email" name="email" required />
                                </div>
                                <div class="col-sm-12 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                                    <textarea placeholder="Message" id="message" name="message" required></textarea>
                                </div>
                                <div class="col-sm-12 form-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".9s">
                                    <button type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="form-messages"></div>
                </div>
                <!-- Ends Contact Form -->
            </div>
        </div>
    </section>

    <!-- =========================
    FOOTER
    ========================== -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-content">
                    <h4 class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                        <img src="/frontend/images/white_logo.svg" class="embed_svg" alt="" />
                    </h4>
                    <p class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".4s">
                        Copyright &copy; 2023 - All rights reserved
                    </p>
                    <ul class="list-unstyled wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".6s">
                        <li>
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Container -->
    </footer>
    <!-- /END FOOTER SECTION -->

    <!-- =========================
			SCRIPTS 
	============================== -->
    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        window.jQuery ||
            document.write(
                '<script src="js/vendor/jquery-1.12.0.min.js"><\/script>'
            );
    </script>
    <!-- Bootstrap JS -->
    <script src="/frontend/js/assets/bootstrap.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/frontend/js/assets/owl.carousel.min.js"></script>
    <!-- WOW Js -->
    <script src="/frontend/js/assets/wow.min.js"></script>
    <!-- Sticky JS -->
    <script src="/frontend/js/assets/jquery.sticky.js"></script>
    <!-- Smooth Scrool -->
    <script src="/frontend/js/assets/smooth-scroll.js"></script>
    <!-- AjaxChimp JS -->
    <script src="/frontend/js/assets/jquery.ajaxchimp.js"></script>
    <!-- Mail JS -->
    <script src="/frontend/js/mail.js"></script>
    <!-- Custom JS -->
    <script src="/frontend/js/plugins.js"></script>
    <script src="/frontend/js/function.js"></script>
</body>

</html>